#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.remove-row-btn {
  padding: 2px 6px;
  font-size: 9px;
  /* width: 28px;
  height: 24px; */
  color: grey;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.remove-row-btn:hover {
  filter: brightness(0.95);
  color: black;
}

.trim-time-dates-button {
  padding: 4px;
}

button {
  padding: 4px;
}


.interest-cell {
  padding: 0;
}

.full-table {
  /* border-collapse: collapse; */
  /* border-collapse: separate; */
  /* border-collapse: unset; */
  border-spacing: 0px 1px;
  /* border-color: black; */
  background: #c0c0c0;
}

tr {
  background: white;
  border-bottom: 3px solid black;
}