#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.remove-row-btn {
  padding: 2px 6px;
  font-size: 9px;
  /* width: 28px;
  height: 24px; */
  color: grey;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.remove-row-btn:hover {
  filter: brightness(0.95);
  color: black;
}

.trim-time-dates-button {
  padding: 4px;
}
